/* About Section Styling */

.about {
  padding: 80px 100px 20px 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 50px;

}

.res_name {
  font-family: 'Markazi Text';
  font-weight: bold;
  font-size: 48px;
  color: #495E57;
}

.loc {
  font-family: 'Markazi Text';
  font-weight: bold; 
  font-size: 32px;
  color: #333333;
  padding-bottom: 40px;
}

.about_desc {
  color: #495e57;
  font-family: Karla ,sans-serif;
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
}

.text {
  padding-bottom: 100px;
  padding-top: 60px;
}

.images {
  justify-self: end;
  align-self: center;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: end;
  align-items: center;
  grid-row-gap: 10px;
  /* padding-bottom: 70px;
  padding-top: 30px; */
}

.images > img {
  border-radius: 16px;
  width: 80%;
  height: auto;
}


@media screen and (max-width: 900px) { 
  .about {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    padding-inline: 75px;
  }

  .text {
    padding-bottom: 30px;
    padding-top: 0px;
  }

  .images {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
  }

  .images > img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 600px) { 
  .images {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .about {
    padding-inline: 40px;
  }
}