#cHeading {
      background-color: #495e57;
    width: 100%;
    text-align: center;
    color: #fbd513;
    font-family: Markazi-Text;
    font-weight: 500;
    padding-block: 2.3rem;
    font-size: 2rem;
}

.confirmDesc {
    margin-block: 50px;
    /* margin-inline: 30%; */
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr  1fr;
    grid-row-gap: 10px;
}

.confirmDesc > p {
    background-color: #a9beb8;
    color: black;
    padding-block: 15px;
    padding-left: 30%;
    font-size: 1.2rem;
    font-family: 'Karla';
}

.tick {
    padding-left: 10px;
    width: 2.5rem;
}

.back {
    display: grid;
    place-items: center;
    margin-bottom: 50px;
}

.LinkBack {
    text-decoration: none;
    font-family: 'Karla';
    font-size: 1.3rem;
    color: #495e57;
    border: 2px solid #fbd513;
    padding: 5px 15px;
    transition:0.3s linear;
    border-radius: 16px;
}

.LinkBack:hover {
    background-color: #fbd513;
}