/* Footer Styling */
footer {
  background-color: #495E57;
  padding-inline: 10rem;
  display: grid;
  padding-block: 3rem;
  grid-template-columns: 1fr 1fr 2fr 1fr;
  place-items: start;
  grid-column: 1 / span 12;
  width: 100%;
}

footer > div {
  align-self: start;
}

.nav_links  > li {
  list-style-type: none;
  line-height: 25px;
  font-size: 1rem;
}

.nav_links > li > a {
  text-decoration: none;
  color: white;
  font-family: Karla;
  transition: .2s linear;
}

.nav_links > li > a:hover {
  color: yellow;
}

.address, .cell, .email {
  font-family: Karla, sans-serif;
  font-size: 1rem;
  line-height: 30px;
  color: white;
  font-style: italic;
}

.copyrights {
  font-family: 'Karla';
  font-size: 18px;
  line-height: 30px;
  padding-right:70px ;
  align-self: center;
  justify-self: start;
  color: white;
}

.sitemap {
  color: white;
  letter-spacing: 3px;
  padding-bottom: 15px;
}

.social > a {
  padding-right: 15px;
}

.icon {
  cursor: pointer;
}

@media screen and (max-width: 1050px) {
  footer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    padding-inline: 4rem;
    grid-row-gap: 10px;
  }
}

@media screen and (max-width: 800px) {
  footer {
   padding-inline: 2rem
  }
}

@media screen and (max-width: 570px) {
  footer {
   grid-template-columns: 1fr;
   grid-row-gap: 40px;
  }

  .sitemap {
      font-size: 1.4rem;
      text-align: center;
      font-weight: 800;
  }

  .social {
    text-align: center;
  }
}

