.logo {
  grid-column: 1 / span 3;
}

.navbar {
  grid-column: 7/ span 5;
}

.navel {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px;
  place-items: center;
  cursor: pointer;
}

.nav-link {
  padding-bottom: 2.5rem;
  padding-top: 2.7rem;
  padding-inline: 2.1rem;
  text-decoration: none;
  font-family: sans-serif;
  font-style:normal;
  font-weight: 700;
  font-size: 0.9rem;
  height: 100px;
  color: #495e57;
  text-transform: uppercase ;
  transition: 0.2s linear;
}

.active {
  background-color: #f7ce00;
}

.navel > li > a:hover {
  background-color: #fbe05a;
}
