 .hero {
      background-color: #495E57;
      padding-inline: 7%;
      padding-top: 50px;
      padding-bottom: 50px;
      display: grid;
      grid-template-columns: 1fr 1fr;
  }

  .title {
    font-family: 'Markazi Text';
    font-size: 4em;
    font-weight:500;
    color: #fbd513;
  }

  .city {
  font-family: 'Markazi Text';
  font-style: normal;
  font-weight: 400;
  font-size: 2.8rem;
  color: white;
  }

  .description {
    /* width:  500px; */
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Karla';
    word-spacing: 3px;
    font-size: 28px;
    line-height: 100%;
    color: #FFFFFF;

  }

  .dish {
    width: 350px;
    height: 350px;
    float:right;
    place-self: end;
    border-radius: 16px;
  }

  .button {
    width: 200px;
    height: 60px;
    border-radius: 16px;
    outline: none;
    border: none;
    background-color: #F4CE14;
    color: black;
    font-family: 'Karla';
    font-style: normal; 
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
  }

  .button:hover {
    background-color: #e1bc02;
  }