 .hero {
      background-color: #495E57;
      padding-inline: 7%;
      padding-top: 50px;
      padding-bottom: 50px;
      display: grid;
      grid-template-columns: 1fr 1fr;
  }

  .title {
    font-family: Karla;
    font-size: 3.5rem;
    font-weight:500;
    color: #fbd513;
  }

  .city {
  font-family: 'Markazi Text';
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  color: white;
  }

  .description {
    padding-right: 30%;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Karla';
    word-spacing: 3px;
    font-size: 1.3rem;
    line-height: 130%;
    color: #FFFFFF;

  }

  .dish {
    width: 350px;
    height: 350px;
    float:right;
    place-self: end;
    border-radius: 16px;
  }

  .button {
    border-radius: 2rem;
    padding: 0.8rem 1.5rem;
    border: none;
    background-color: #F4CE14;
    cursor: pointer;
    color: #495E57;
    font-weight: 700;
    font-size: 15px;
  }

  .button:hover {
    background-color: #e1bc02;
  }

  @media screen and (max-width: 1100px) {
  .description {
    padding-right: 15%;
  }
}

@media screen and (max-width: 950px) {
  .description {
    padding-right: 7%;
  }
}

@media screen and (max-width: 820px) {
  .hero {
    grid-template-rows: auto 1fr;  
    grid-template-columns: 1fr;
  }

  .herotext {
    place-self: center;
  }

  .description {
    padding-right: 0%;
    font-size: 1.2rem;
  }

  .dish {
    place-self: center;
    width: 100%;
    height: auto;
    margin-top: 30px;
  }

}


@media screen and (max-width: 500px) {
  .title {
    font-size: 2.5rem;
  }

  .city {
    font-size: 1.5rem;
  }

  .description {
    font-size: 1.1rem;
  }
}
