 /* Specials Section Styling */
.special {
  padding: 50px 7%;
}

.specialGrid {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 10px;
}

.specialsHeading {
  font-family: 'Markazi Text';
  font-weight: 400;
  font-size: 2rem;
  padding-top: 10px;
  color: #495E57;
}

button {
  justify-self: end ;
}


.cards {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
}

.card {
  background-color: #e3e9e6;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}

.cardImg {
  width:100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  outline: 1px solid black;
  transition: transform 0.3s ease-in-out; 
}

.card:hover .cardImg {
  transform: scale(1.1);
}

.cardTitle {
  font-family: Karla,sans-serif;
  color: #495e57;
  font-size: 1.15rem;
  font-weight: bold;
}

.cardHeader {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 30px;
}

.cardPrice {
  font-family: 'Karla';
  font-size: 20px;
  color: #EE9972;
  place-self: center;
}

.cardDesc {
  padding-inline:30px;
  font-family: 'Karla';
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #495E57;
  margin-bottom: 30%;
}

.order {
  font-family: Karla;
  font-weight: 700; 
  font-size: 1.2rem;
  color: #333333;
  padding-left: 30px;
  position: absolute;
  bottom: 20px;
  opacity: 60%;
  cursor: pointer;
}

.order > span:hover{
  text-decoration: underline;
}

.bike {
  position: relative;
  top:5px;
}

@media screen and (max-width: 1065px) { 
  .cards {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5%;
  }
}

@media screen and (max-width: 900px) {
  .special {
    padding-inline: 75px;
  }
}

@media screen and (max-width: 600px) { 
  .cards {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,1fr);
    grid-gap: 1.7%;
  }

   .special {
    padding-inline: 40px;
  }

  .cardDesc {
    margin-bottom: 20%;
  }

  .specialsHeading {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 450px) { 
  .specialsHeading {
    font-size: 1.2rem;
    align-self: center;
  }

  .button {
     align-self: center;
     font-size: 0.7rem;
  }

  .cardDesc {
    padding-bottom: 8%;
  }

  .cardDesc {
    font-size: 18px;
  }

  .order {
    font-size: 1.1rem;
  }
}