 /* Specials Section Styling */
.special {
  padding: 50px 100px;
  /* background-color: rgb(188, 188, 188); */
}

.specialsHeading {
  font-family: 'Markazi Text';
  font-weight: 400;
  font-size: 2rem;
  padding-top: 10px;
  color: #495E57;
  position: absolute;

}

.right {
  position: absolute;
  right:100px;
}

.cards {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 100px;
}

.card {
  background-color: #EDEFEE;
  border-radius: 16px;
    overflow: hidden;
}

.cardImg {
  width:100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  outline: 1px solid black;
  transition: transform 0.3s ease-in-out; 
}

.card:hover .cardImg {
  transform: scale(1.1);
}
/* .cardImg:hover {
  
} */

.cardTitle {
  font-family: 'Markazi Text';
  font-size: 24px;
  font-weight: bold;
}

.cardHeader {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 30px;
}

.cardPrice {
  font-family: 'Karla';
  font-size: 20px;
  color: #EE9972;
  place-self: center;
}

.cardDesc {
  padding-inline:30px;
  font-family: 'Karla';
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #495E57;
}

.order {
  font-family: 'Karla';
  font-weight: 700; 
  font-size: 20px;
  color: #333333;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.bike {
  position: relative;
  top:5px;
}
