/* Testimonails Styling Now */
.testimonials {
  background-color: #495E57;
  display: grid;
  grid-template-rows: 100px 1fr;
  padding: 100px 150px;
  grid-row-gap: 20px;
}

.testimonials > h1 {
  grid-column: 1/span 4;
  place-self: center;
  font-family: 'Markazi Text';
  font-weight: 500;
  font-size: 36px;
  color: white;
  text-align: center;
}

.reviewCards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.testimonial {
  background-color: rgb(255, 255, 255);
  border-radius: 16px;
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  padding: 15px 20px;
  grid-row-gap: 10px;
  place-items: center;
}

.comment {
  grid-column: 1/span 3;
  font-family: 'Karla';
  font-weight: 400;
  font-size: 18px;
  color: #6E6F6E;
}

.dp {
  place-items: center;
   width: 120px;
   height: 120px;
   border-radius: 50%;
}

.name {
   font-family: Karla,sans-serif;
  color: #495e57;
  font-size: 1rem;
  font-weight: bold;
}

.stars {
  color: #fbd513;
  font-size: 1.2rem;
}

@media screen and (max-width: 1065px) { 
  .reviewCards {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
  }
}

@media screen and (max-width: 800px) { 
  .testimonials {
    padding-inline: 75px;
  }
}

@media screen and (max-width: 650px) { 
  .reviewCards {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
  }

  .testimonials > h1 {
    font-size: 32px;
  }
}
@media screen and (max-width: 450px) { 
.testimonials {
  padding-inline: 45px;
}
}
